<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Atlas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Atlas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Atlas.My.MySettings.bdmcp_2ConnectionString" connectionString="Data Source=MEMXSLPW001;Initial Catalog=bdmcp_2;User ID=UsrLibra" providerName="System.Data.SqlClient"/>
    <add name="Atlas.My.MySettings.bdmcpConnectionString" connectionString="Data Source=MEMXSLPW001;Initial Catalog=bdmcp;User ID=UsrLibra" providerName="System.Data.SqlClient"/>
    <add name="Atlas.My.MySettings.UsuariosConnectionString" connectionString="Data Source=MEMXSLPW001;Initial Catalog=Usuarios;User ID=UsrLibra" providerName="System.Data.SqlClient"/>
    <add name="Atlas.My.MySettings.Database1ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="Atlas.My.MySettings.AmancoConnectionString" connectionString="Data Source=memxslpw026;Initial Catalog=Amanco;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--   La configuración de la aplicación de usuario y de la propiedad configurada van aquí.-->
    <!--   Ejemplo: <add key="settingName" value="settingValue"/> -->
    <add key="ListView1.CheckBoxes" value="True"/>
    <add key="ListView1.FullRowSelect" value="True"/>
    <add key="ColumnHeader1.Text" value="ColumnHeader"/>
    <add key="ColumnHeader1.Width" value="300"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="IdBascula1" value="M"/>
    <add key="IdBascula2" value="M"/>
    <add key="IdBascula3" value="M"/>
  </appSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <applicationSettings>
    <Atlas.My.MySettings>
      <setting name="A_tlas_Leer_Pedido_ZSDMX_READ_SCALE_DOCUMENTSService" serializeAs="String">
        <value>http://mexcid010000.mexichem.corp:8000/sap/bc/srt/rfc/sap/ZSDMX_READ_SCALE_DOCUMENTS?sap-client=300</value>
      </setting>
      <setting name="A_tlas_PT_ConMat_Dev_ZPPMXF002Service" serializeAs="String">
        <value>http://mexcid010000.mexichem.corp:8000/sap/bc/srt/rfc/sap/ZPPMXF002?sap-client=300</value>
      </setting>
      <setting name="A_tlas_PTConsumos_ZPPMXF001Service" serializeAs="String">
        <value>http://mexcid010000.mexichem.corp:8000/sap/bc/srt/rfc/sap/ZPPMXF001?sap-client=300</value>
      </setting>
      <setting name="A_tlas_Dev_Materials_ZGLMX_ATLAS_GRService" serializeAs="String">
        <value>http://mexcid010000.mexichem.corp:8000/sap/bc/srt/rfc/sap/zglmx_atlas_gr/300/zglmx_atlas_gr/zglmx_atlas_gr</value>
      </setting>
      <setting name="A_tlas_Graba_Pedido_ZSDMX_POST_SCALE_DATAService" serializeAs="String">
        <value>http://mexcid010000.mexichem.corp:8000/sap/bc/srt/rfc/sap/ZSDMX_POST_SCALE_DATA?sap-client=300</value>
      </setting>
      <setting name="A_tlas_Dev_Read_ODF_ZPPGL_READ_ORDER_300" serializeAs="String">
        <value>http://mexcid010000.mexichem.corp:8000/sap/bc/srt/rfc/sap/zppgl_read_order_300/300/zppgl_read_order_300/zppgl_read_order_300</value>
      </setting>
      <setting name="A_tlas_Graba_OF_ZPP003_91Service" serializeAs="String">
        <value>http://mxslx140.mexichem.corp:8001/sap/bc/srt/rfc/sap/ZPP003_91?sap-client=300</value>
      </setting>
      <setting name="A_tlas_Lee_OFP_ZPP001_91Service" serializeAs="String">
        <value>http://mxslx140.mexichem.corp:8001/sap/bc/srt/rfc/sap/ZPP001_91?sap-client=300</value>
      </setting>
      <setting name="A_tlas_PTConProd_ZPPMXF001Service" serializeAs="String">
        <value>http://mxslx140.mexichem.corp:8001/sap/bc/srt/rfc/sap/ZPPMXF001?sap-client=300</value>
      </setting>
      <setting name="A_tlas_Prd_Gen_ZGLMX_ATLAS_GR" serializeAs="String">
        <value>http://mexcip010000.mexichem.corp:8001/sap/bc/srt/rfc/sap/zglmx_atlas_gr/300/zglmx_atlas_gr/zglmx_atlas_gr</value>
      </setting>
      <setting name="A_tlas_PT_ConMat_Prod_ZPPMXF002Service" serializeAs="String">
        <value>http://mxslx140.mexichem.corp:8001/sap/bc/srt/rfc/sap/ZPPMXF002?sap-client=300</value>
      </setting>
      <setting name="A_tlas_Read_ZPP001_91Service" serializeAs="String">
        <value>http://mexcid010000.mexichem.corp:8000/sap/bc/srt/rfc/sap/ZPP001_91?sap-client=300</value>
      </setting>
    </Atlas.My.MySettings>
  </applicationSettings>
  <userSettings>
    <Atlas.My.MySettings>
      <setting name="Bascula_1" serializeAs="String">
        <value>M</value>
      </setting>
      <setting name="Bascula_2" serializeAs="String">
        <value>M</value>
      </setting>
      <setting name="Bascula_3" serializeAs="String">
        <value>M</value>
      </setting>
    </Atlas.My.MySettings>
  </userSettings>
</configuration>
